body {
    background-color: #9ce05c;
    margin: 0;
    padding: 0;
    position: relative;
}


.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
    padding: 30px 10px;
    list-style-type: none;
}


.product {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}


.product:hover {
    transform: translateY(-5px);
}


.productimg {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}


.product-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}


.product-name {
    margin-bottom: 10px;
    font-size: larger;
}


.product-price {
    font-weight: normal;
    font-size: large;
    margin-top: 10px;
}


